.problems {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 24px;
  color: var(--text);
}
.problems > .title {
  font-size: 28px;
  font-weight: 700;
}
.problems .problem-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1280px;
}
.problems .problem-list .problem-item {
  background: var(--card);
  box-shadow: var(--shadow);
  padding: 24px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
}
.problems .problem-list .problem-item .title {
  font-size: 21px;
  font-weight: 600;
  color: var(--text);
}
.problems .problem-list .problem-item .desc {
  font-size: 14px;
  color: var(--second);
  text-align: justify;
}
