@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap"); */
@font-face {
  font-family: "IranSans";
  src: url("/font/IranSans/woff/IRANSansWeb.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IranSansNum";
  src: url("/font/IranSans/woff/IRANSansWeb(FaNum).woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "IranSansNum", sans-serif;
  scroll-behavior: smooth;
}
a {
  color: inherit;
}
:root {
  --body: #191919;
  --card: #202020;
  --primary: #0098eb;
  --second: #9b9b9b;
  --text: #d6d6d6;
  --border: #262626;
  --hover: #2f2f2f;
  --sell: #f6465d;
  --sellHover: #ff707e;
  --buy: #0ecb81;
  --buyHover: #32d993;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  --shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
body.dark {
  --body: #fff;
  --card: #f7f7f5;
  --primary: #0098eb;
  --second: #91918e;
  --border: #d7d7d7;
  --text: #373737;
  --hover: #d1d1d1;
}
body {
  background: var(--body);
  position: relative;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
} */

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--card) inset !important;
  -webkit-text-fill-color: var(--primary) !important;
}
